//custom.scss

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1024px,
    xxl: 1100px
);

$primary: #6E3DFA !default;
$secondary: #FF6D3F !default;
// $success: $green !default;
// $info: $cyan !default;
// $warning: $yellow !default;
// $danger: $red !default;
// $light: $gray-100 !default;
// $dark: $gray-900 !default;

$darkblue: #172554;

.hovershadow:hover {
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    cursor: pointer;
    transition: box-shadow 0.4s;
}

@import "../../../node_modules/bootstrap/scss/bootstrap";