.bg-primary-light {
    background: #DACDFF;
}

.bg-mainbanner {
    background-image: url("../images/mainbanner.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-pagination {
    position: relative;
    margin-top: 2.5rem;
}

.swiper-slide {
    height: auto;
}

/*
Change swiper corousel previous, next button styles
*/
.swiper-button-next,
.swiper-button-prev {
    position: relative;
    margin-top: 2.5rem;
    width: 50%;
    display: inline-block;
    color: #FFFFFF;
    padding: 0px 20px;
}

.swiper-button-prev {
    text-align: end;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 16px;
    line-height: 0.5;
    padding: 12px 16px;
    border-radius: 50%;
    background-color: #6E3DFA;
}

/* 
Date card background.
*/
.bg-light-primary {
    border: 1px solid #bea7ff;
}

.slider-container {
    overflow: hidden;
    height: 350px;
}

.sliding-background {
    /* The image height times 3 */
    width: 5076px;
    height: 350px;
    background: url('../../assets/images/BackpackerSlider2.png') repeat-x;
    background-size: contain;
    animation: slide 60s linear infinite;
}

/* Animation to make the background image slide infinitly */
@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1692px, 0, 0);
        /* The image width */
    }
}