.dropdown-item:hover {
    background-color: #DACDFF;
}

.dropdown-item:active {
    color: #FFFFFF;
}

.mt-nav {
    margin-top: 76px;
}

.bg-primary-light {
    background: #DACDFF;
}

.bg-mainbanner {
    background-image: url("../images/mainbanner.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-pagination {
    position: relative;
    margin-top: 2.5rem;
}

.swiper-slide {
    height: auto;
}

/*
Change swiper corousel previous, next button styles
*/
.swiper-button-next,
.swiper-button-prev {
    position: relative;
    margin-top: 2.5rem;
    width: 50%;
    display: inline-block;
    color: #FFFFFF;
    padding: 0px 20px;
}

.swiper-button-prev {
    text-align: end;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 16px;
    line-height: 0.5;
    padding: 12px 16px;
    border-radius: 50%;
    background-color: #6E3DFA;
}

/* 
Date card background.
*/
.bg-light-primary {
    border: 1px solid #bea7ff;
}

.slider-container {
    overflow: hidden;
    height: 350px;
}

.sliding-background {
    /* The image height times 3 */
    width: 5076px;
    height: 350px;
    background: url('../../assets/images/BackpackerSlider2.png') repeat-x;
    background-size: contain;
    animation: slide 60s linear infinite;
}

/* 
Animation to make the background image slide infinitly
 */
@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1692px, 0, 0);
        /* The image width */
    }
}

/* 
About Us Page Styles
 */
.founder-img {
    width: 300px;
    height: 300px;
}

/* 
Share buttons background colors 
*/
.bg-outline {
    background: #FFFFFF;
    color: #6E3DFA;
}

.f2 {
    font-size: 2rem;
}

.bg-whatsapp {
    background-color: #25d366;
}

.bg-facebook {
    background-color: #4267B2;
}

.bg-snapchat {
    background-color: #f5f100;
}

/* 
Price card, Send enquiry form position
 */
.sticky-price-card {
    position: sticky;
    top: 6.5rem;
}

/* 
Utilities
 */
.px-10 {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
}

.drop-shadow {
    box-shadow: 0 15px 20px -6px rgb(0 0 0 / 0.15);
}

.shadow-md {
    box-shadow: 0 4px 6px -1px rgba(83, 83, 83, 0.1), 0 2px 4px -2px rgba(34, 34, 34, 0.1);
}

.mb-drawer {
    margin-bottom: 56px;
}

.dashed {
    border: 0.5px gray;
    border-style: dashed;
}

.link {
    text-decoration: none;
    color: #FFF;
}

/* 
Media Queries
*/
@media only screen and (max-width: 768px) {
    .border-md {
        border: none;
        box-shadow: none;
        padding: 0px !important;
    }
}